body {
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    color: #7F8C9A;
    background: #FCFDFD;
}
h1 {
    font-size: 75px
}
h1, h2, p {
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    color:#aaa;
}
p {
    color: #1ABC9C;
}
h2 {
    margin: 5px 0 2em;
    color: #1ABC9C;
    font-size: 25px;
}
.all {
    position: absolute;
    left: 50%;
}
.top {
    margin-left: -250px;
    width: 500px;
    height: 270px;
}
form {
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed #fff;
}
form p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #ffffff;
    font-family: Arial;
}
form input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
button {
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 508px;
    height: 55px;
    margin-top: -5px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
    font-size: 25px;
}
button:hover {
    background: #149174;
    color: #0C5645;
}
button:active {
    border:0;
}
.back {
    margin-top: 20px;
}
.point {
    color:#aaa;
}
.input-file {
    width: inherit;
    height: inherit;
}