<head>
    <meta charset="utf-8">
	<script src="/static/js/header.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <title>Deprazer</title>
</head>

<body>
    <div class="content">
        <div onclick="redirect();" class="header-name">Deprazer</div>
        <div class="header-tagline">
            Depression rate analyzer for a better society
        </div>
        <form action="{{ url_for('backend.personal') }}" method="post">
            <label>Twitter account: </label>

            {% if input %}
                <input type="text" name="twitter_account" value="{{ input }}">
            {% else %}
                <input type="text" name="twitter_account">
            {% endif %}
            <input type="submit">
        </form>
        {% if result %}
            <div>
                <label>Result: </label>
                <input type="text" value="{{ result }}" readonly>
            </div>
        {% endif %}
    </div>
</body>